body {
	background-color: #222;
    
	color: #fff;
	font-family: "Baskerville Old Face", serif;
}

h1 {
	text-align: center;
	margin-top: 50px;
}

form {
	max-width: 400px;
	margin: 0 auto;
	padding: 20px;
	background-color: #000000;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

label {
	display: block;
	margin-bottom: 10px;
}

input[type="email"],
input[type="password"],
select {
	display: block;
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	border: none;
	background-color: #444;
	color: #fff;
	font-size: 16px;
	margin-bottom: 20px;
}

input[type="submit"] {
	display: block;
	background-color: #f40000;
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
}

input[type="submit"]:hover {
	background-color: #333;
}
